<footer class="page-footer content">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Burton Family Food Pantry</h5>
        <p class="grey-text text-lighten-4">Thank you for visiting. Check us out any time!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Check us out</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Burton Family Farms All Rights Reserved
    <a class="grey-text text-lighten-4 right" href="/">Burton Family Food Pantry</a>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/script.js"></script>

</body>
  </html>