<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import jQuery before materialize.js-->
      <script  type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="/script.js"></script>
      <link rel="stylesheet" href="/styles.css">
      
      <title>Welcome to Food Pantry </title>
    </head>

    <body>
          <ul class="white side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/mission">Our Mission</a></li>
            <li><a href="/locations">Our Location</a></li>
            <li><a href="/donations">Donations</a></li>
            <li><a href="/partners">Our Partners</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
          </ul>
      <div class="navbar-fixed">    
      <nav>
        <div class="nav-wrapper">
          <div id="logowrapper">
            <a href="#" class="brand-logo center"><img src="https://image.ibb.co/b7srya/shopping_cart_icon_67694.png"></a>
          </div>
         
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/mission">Our Mission</a></li>
            <li><a href="/locations">Our Locations</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down z-depth-6">
            <li><a href="/donations">Donations</a></li>
            <li><a href="/partners">Our Partners</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
          </ul>
          
        </div>
      </nav>
      </div>
    