<% include partials/header %>
<div class="container content">
    
    <div class="white row flow-text">
        <div class="col s12">
            <h1>We accept any and all donations.</h1><h2 class="center"> Big or <span id="small">small.</span></h2>
        </div>
        <p>Currently we are only accepting food donations as we are well off, enough to have
        an abundance of money.</p>
        <p>Due to various food regulations we cannot accept donations online</p>
        <p>If you have donations for us feel free to come by at a location near you. We have
        dedicated loading docks on the side of our pantry section.</p>
        <p>Whether it's cereal, fruits, vegetables, grains, canned goods, you name it, we'll take it!</p>
        <p>Occasionally we are in need of an extra set of hands so if you have any time to donate feel free to do so!
         The help is greatfully appreciated!</p>
    </div>
</div>


<% include partials/footer %>