<% include partials/header %>


<div id="bg1">
    
</div>
<div class=" container z-depth-5" id="content">
    
    <h4 class="white center" id="hd1">Food Pantry</h4>
    <div class="row">
        <div class="col s12 m7 lcol">
          <div class="card large" id="cl1">
            <div class="card-image" id="lci">
              <img src="https://image.ibb.co/mSuCKF/roksolana_zasiadko_29080.jpg">
              <span class="card-title">Need Help?</span>
            </div>
            <div class="card-content" id="lcc">
              <p>We are a small nonprofit dedicated in helping families, <em>and individuals</em> , in need of sustenance.
              We are very grateful to have many partners and donations. As such, we invite you to come every week.</p>
            </div>
            <div class="card-action" id="lca">
              <a href="/locations">Find a Location Near You</a>
            </div>
          </div>
        </div>
        <div class="col s12 m5 rcol">
            <div class="row rrow">
                <div class="col s12">
                    <div class="card horizontal rside" id="r1">
                      <div class="card-image">
                        <img class="img1" src="https://image.ibb.co/b3Poda/veeterzy_82537.jpg">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>Have some spare time? Why not come by and volunteer!
                          Help someone in need.</p>
                        </div>
                        <div class="card-action">
                          <a href="/volunteer" class="waves-effect waves-orange ">Come Lend us a Hand</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row rrow">
                
                    <div class="col s12">
                        <div class="card horizontal rside" id="r2">
                          <div class="card-image">
                            <img class="img2" src="https://image.ibb.co/c6uoda/mr_lemon_27445.jpg">
                          </div>
                          <div class="card-stacked">
                            <div class="card-content">
                              <p>Are you in possession of produce, canned goods, 
                              or any form of food or beverage?</p>
                            </div>
                            <div class="card-action">
                              <a href="/donations" class="waves-effect waves-orange ">Connect With Us</a>
                            </div>
                          </div>
                        </div>
                    </div>
                
            </div>
            <div class="row rrow">
                    <div class="col s12">
                        <div class="card horizontal rside" id="r3">
                          <div class="card-image">
                            <img class="img3" src="https://image.ibb.co/hXqpjF/luke_michael_27050.jpg">
                          </div>
                          <div class="card-stacked">
                            <div class="card-content">
                              <p>We do this not for ourselves, but for others. Find
                              out how this operation all started!</p>
                            </div>
                            <div class="card-action">
                              <a href="/mission" class="waves-effect waves-orange ">What we're About</a>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
        </div>
      </div>
</div>
<% include partials/footer %>
