<% include partials/header %>


<div class="container" id="lhead">
    <div class="card" >
        <div class="card-content" id="lhead">
            <h1 class=" center card-title" >What does this mean?</h1>
        </div>
        <div class="card-image">
            
            <img src="https://image.ibb.co/mJ0TUQ/land_use_map.jpg">
        </div>
        <div class="card-content">
            <p>Thanks to one of our biggest partners, WalMart, we are able to offer our services at your local grocery store. In order for you to
             take advantage of our program, please print out our form <a href="">HERE</a>. Alternatively, simply show up at our doors in Walmart's
             Burton Family Pantry section within the store and say hi! We'll be more than happy to take you in and assist you. We currently only operate in Walmart.</p>
             <br>
             <p>We are currently working with our other partners to expand our operations to every grocery store across the United States. Before you
             get skeptical, yes, we are in fact actively working on this. Feel free to mention to your local supermarket about our program. We offer great
             incentives to be part of our program. The incentives can be viewed on our <a href="/partners">partners page</a></p>
        </div>
    </div>
</div>


<% include partials/footer %>