<% include partials/header %>
<div id="bg3">
    
</div>
<nav class="center nav-extended" id="content" >
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#top3">Top 3 Partners</a></li>
        <li class="tab"><a href="#incentives">Partner Incentives Program</a></li>
      </ul>
    </div>
  </nav>
  <div class="white center container content">
      
  </div>
<div class="container content" id="top3">
    <div class="white row" id="hd2">
        <div class="col s12">
            <h2 class="white center" id="hd2">Partner Information</h2>
        </div>
    </div>
    <div class="white row">
        <div class="col s12 m5">
            <img id="wal" class="center"src="https://www.visitsouthwalton.com/sites/default/master/files/profiles/photos/profile_logo/walmart-logo0.jpg">
        </div>
        <div class="col s12 m7">
            <h2>Walmart</h2>
            <p class="flow-text">Walmart is our number 1 partner when it comes to offering food pantry services to families. We are very grateful for their
            continued cooperation in helping us make this operation a reality.</p>
            <br>
            <p>Thanks to you we were able to help over 800 million families thus far. From the bottom of The Burton Family's Heart
            we are very happy to have been able to collaborate with you!</p>
        </div>
    </div>
    <div class="white row">
        <div class="col s12 m5">
            <img id="wal" class="center"src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Target_logo.svg/2000px-Target_logo.svg.png">
        </div>
        <div class="col s12 m7">
            <h2>Target</h2>
            <p class="flow-text">Target has been of great help in offering us donations. Though we don't currently have food pantries within target, our
            team is working with Target and will soon make this a reality. The Burton Family Pantry will soon be located in every Target near you. Be on
            the lookout for new construction in your area. As an added bonus Target Pantry's will have an exclusive cash credit to be used in their stores.</p>
            <br>
            <p>Thank you for the donations you have provided us thus far, the more the merrier! We will never have a shortage of food to give out thanks to you.
             Together we can do great things and end hunger once and for all.</p>
        </div>
    </div>
    <div class="white row">
        <div class="col s12 m5">
            <img id="wal" class="center"src="https://fiu-assets-2-syitaetz61hl2sa.stackpathdns.com/static/use-media-items/24/24000/full-1725x1545/56703a87/albertsons-logo.png?resolution=0">
        </div>
        <div class="col s12 m7">
            <h2>Albertsons</h2>
            <p class="flow-text">Albertsons is by far our number one source of bottled waters. If you are at a Burton Family Pantry, you can rest assured
            that the bottled waters you get from us are actually from Albertsons.</p>
            <br>
            <p>Thank you for the donations you have provided us thus far. It is thanks to you that all families, and individuals, get enough water for the week
            and no longer have to worry about buying water filters in tough times.</p>
        </div>
    </div>
    <div class="white row">
        <p>We have many partners and want them to know that we appreciate their help and love working with them. We do like to display our top donators every week
        and even offer a certificate for new partners that make it to the top 3.</p>
    </div>
</div>

<div class="white container content" id="incentives">
    <div class="white row" id="hd2">
        <div class="col s12">
            <h2 class="white center" id="hd2">Partner Incentives</h2>
        </div>
    </div>
    <div class="white row">
        <div class="col s12 m3">
            <h2>Incentives</h2>
            <table>
                <thead>
                  <tr>
                      <th>Incentives</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Free Fruits*</td>
                  </tr>
                  <tr>
                    <td>Free Vegetables*</td>
                  </tr>
                  <tr>
                    <td>We Pay for construction</td>
                  </tr>
                  <tr>
                    <td>Monthly Cash Reward**</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col s12 m9">
            <form>
                <div class="row">
                    <h2 class="center">Sign Up</h2>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input placeholder="First Name" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input placeholder="Last Name" id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business</i>
                      <input id="business" type="text" class="validate">
                      <label for="email">Business Name</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="white row">
        <p class="flow-text">By becoming a partner you are helping to feed people in dire need of sustenance. Rest assured, It is a great thing you are doing.
         You never know who is in need.</p>
        <p>Note: Completing the sign up form does not confirm partnership. It is merely the first step in becoming partners and getting to know
        each other.</p>
        <p>* The free food is for the pantry operation.</p>
        <p>**The Monthly Cash Reward is based on the amount of people helped in addition to the costs of operation.</p>
    </div>
</div>



<% include partials/footer %>