<% include partials/header %>
<div class="container content">
    <div class="white row">
        <div class="col s12">
            <h1>Want to volunteer?</h1>
            <p class="flow-text">Come on by!</p>
            <p>Our procedures are pretty casual in nature. We love it when volunteers come by and offer their assistance. Currently we
            have volunteer opportunities in the Pantry Department, The Farm Department, and The Warehouse Departnment</p>
        </div>
    </div>
    <div class="white row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                  <img src="https://www.foodpantries.org/gallery/34495_rfnnpahrsl.jpg">
                  <span class="card-title">Food Pantry</span>
                </div>
                <div class="card-content">
                  <p>Click the link below to register for a time and a place to volunteer at one of
                  our great Food Pantrys! We can't wait to see you there!</p>
                </div>
                <div class="card-action">
                  <a href="#">Come Volunteer</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                  <img src="https://ded8b07dd9e637888fc2-e87978aaae5cf97349d88697fd53e4c9.ssl.cf1.rackcdn.com/163fa963-4d8c-4058-a31b-6c333cb983bb.jpg">
                  <span class="card-title">Our Farms</span>
                </div>
                <div class="card-content">
                  <p>Love the outdoors and love gardening? Come on by, we have plenty of work to do
                  on the daily! Register for a time and place below.</p>
                </div>
                <div class="card-action">
                  <a href="#">Come Volunteer</a>
                </div>
            </div>            
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                  <img src="https://www.penskelogistics.com/img/hero/square/warehouse-tech.jpg">
                  <span class="card-title">Warehouse</span>
                </div>
                <div class="card-content">
                  <p>Like to work with numbers and forklifts/pallet jacks (if not you can always learn)?
                  This is the place to be. Register for a time and place below.</p>
                </div>
                <div class="card-action">
                  <a href="#">Come Volunteer</a>
                </div>
            </div>            
        </div>
    </div>

</div>

<% include partials/footer %>